_site/
.sass-cache/
.DS_Store
Moyer_cv.aux
Moyer_cv.bbl
Moyer_cv.blg
Moyer_cv.dvi
Moyer_cv.fdb_latexmk
Moyer_cv.fls
Moyer_cv.log
Moyer_cv.out
Moyer_cv.bcf
Moyer_cv.run.xml
auto/
Gemfile.lock
*.bak
latex.out/
!*.pdf
activities.tex
pubs.tex
activities.md
pubs.md
pubs_tex.md