<!DOCTYPE html>
<html>
  	<head>
  		<title>Thomas M. Moyer</title>
  		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="description" content="" />
  		<meta name="keywords" content="" />
  		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  		<link rel="stylesheet" href="/css/skel.css" />
  		<link rel="stylesheet" href="/css/style.css" />
  		<link rel="stylesheet" href="/css/style-xlarge.css" />
  		<link rel="stylesheet" href="/css/csl-blocks.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
      <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
  	</head>

	<body id="top">

      <header id="header">
          <a href="/" class="image avatar"><img src="/images/avatar.jpg" alt="" /></a>
          <h1>I'm an <strong>assistant professor</strong> at the<br />
            <strong>University of North Carolina at Charlotte</strong><br />
            in the Department of <strong>Software and <br />
            Information Systems</strong>.</h1>
          </br>
      <section>
        <ul class="actions vertical">
          <li><a href="/" class="button small opaque">Home</a></li>
          <li><a href="/research/" class="button small opaque">Research</a></li>
          <li><a href="/teaching/" class="button small opaque">Teaching</a></li>
          <li><a href="/about/" class="button small opaque">About Me</a></li>
          <li><a href="/vita/" class="button small opaque">Vita</a></li>
          <li><a href="https://crest.uncc.edu" class="button small opaque">Lab</a></li>
          <!--<li><a href="/job/" class="button small opaque">Job Materials</a></li>-->
        </ul>
      </section>
      <section>
        <strong>333G Woodward Hall<br/>

        9201 University City Blvd.<br/>

        Charlotte, NC 28223<br/>

        704.687.8194</strong>
      </section>      
      <section class="footer">
            <ul class="icons">

              {% if site.github_username %}
              <li>
                <a href="https://github.com/{{ site.github_username }}" class="icon fa-github">
                  <span class="label">GitHub</span>
                </a>
              </li>
              {% endif %}

              {% if site.bitbucket_username %}
              <li>
                <a href="https://bitbucket.org/{{ site.bitbucket_username }}" class="icon fa-bitbucket">
                  <span class="label">Bitbucket</span>
                </a>
              </li>
              {% endif %}

              {% if site.twitter_username %}
              <li>
                <a href="https://twitter.com/{{ site.twitter_username }}" class="icon fa-twitter">
                  <span class="label">Twitter</span>
                </a>
              </li>
              {% endif %}

              {% if site.linkedin_username %}
              <li>
                <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="icon fa-linkedin">
                  <span class="label">LinkedIn</span>
                </a>
              </li>
              {% endif %}

              {% if site.google_plus_username %}
              <li>
                <a href="https://plus.google.com/{{ site.google_plus_username }}" class="icon fa-google-plus">
                  <span class="label">Google+</span>
                </a>
              </li>
              {% endif %}

              {% if site.facebook_username %}
              <li>
                <a href="https://www.facebook.com/{{ site.facebook_username }}" class="icon fa-facebook">
                  <span class="label">Facebook</span>
                </a>
              </li>
              {% endif %}

              {% if site.dribbble_username %}
              <li>
                <a href="#" class="icon fa-dribbble">
                  <span class="label">Dribbble</span>
                </a>
              </li>
              {% endif %}

              {% if site.keybase_username %}
              <li>
                <a href="https://keybase.io/{{ site.keybase_username }}" class="icon fa-key">
                  <span class="label">Keybase (GPG)</span>
                </a>
              </li>
              {% endif %}

              {% if site.email %}
              <li><a href="http://www.google.com/recaptcha/mailhide/d?k=01p6IF15D1YX3AHhrjkPVExA==&amp;c=0FMX_i-K7q3wnptn_iqnoeEilrKd6apzk4kn9y5sPGQ=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01p6IF15D1YX3AHhrjkPVExA\x3d\x3d\x26c\x3d0FMX_i-K7q3wnptn_iqnoeEilrKd6apzk4kn9y5sPGQ\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address" class="icon fa-envelope-o"><span class="label">Email</span></a>
              </li>
              {% endif %}
            </ul>
            <ul class="copyright">
                <li>&copy; Thomas M. Moyer</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                <!--<li>Demo Images: <a href="https://unsplash.com/">Unsplash</a></li>
                <li>Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a></li>-->
            </ul>
      </section>

      </header>

      <section>
        {{ content }}
        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		  <script src="/js/jquery.poptrox.min.js"></script>
  		  <script src="/js/skel.min.js"></script>
  		  <script src="/js/init.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/f07489823c.js"></script>
	</body>
</html>
